.board-score-table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px 20px;
    font-size: 20px;
    line-height: 1;
    border-radius: 10px;

    th {
        font-weight: bold;
        background-color: var(--primary-color);
        color: var(--bg-color);
        position: sticky;
        top: -3px;
        z-index: 10000;
    }

    th,
    td {
        border: 3px solid var(--primary-color);
        padding: 20px;
        height: 50px;
        font-size: 30px;
    }
    input {
        font-size: 30px;
        height: 50px;
        max-width: 50px;
        color: var(--font-color);
    }
    ::placeholder {
        color: var(--font-color);
        opacity: 1; /* Firefox */
    }
    ::-ms-input-placeholder {
        /* Edge 12 -18 */
        color: var(--font-color);
        color: red;
    }
    .row-icon {
        height: 70px;
    }
    .total-row {
        background-color: var(--secondary-color);
        color: var(--primary-color);
        font-weight: bold;
    }
    .win {
        background-color: var(--primary-color);
        color: var(--bg-color);
    }
    .row-help {
        font-size: 16px;
        opacity: 0.7;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

@media (max-width: 700px) {
    .board-score-table {
        font-size: 18px;
        max-width: 95%;
        th,
        td {
            padding: 2px;
            font-size: 18px;
        }
        .row-icon {
            height: 60px;
        }
        input {
            font-size: 18px;
            max-width: 30px;
        }
        .row-help {
            font-size: 11px;
            opacity: 0.7;
        }
    }
}
