.NumPad {
	position: fixed;
	width: 100%;
	max-width: 700px;
	background-color: var(--bg-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	bottom: 0;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 20px;
	z-index: 1000000;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
	border-radius: 15px 15px 0 0;
	left: 50%;
	transform: translateX(-50%);
	.row {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		align-items: center;
		flex-direction: row;
		margin: 0px;
	}
	.btn {
		margin: 2px;
		height: 55px;
		width: 100%;
		font-size: 26px;
		font-weight: bold;
		border: none;
		background-color: var(--primary-color);
		color: var(--bg-color);
		transition: 0s;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
			background-color: var(--primary-color);
			scale: 1;
		}
	}
	.inverted {
		background-color: var(--bg-color);
		color: var(--primary-color);
		&:hover {
			background-color: var(--bg-color);
			color: var(--primary-color);
		}
	}
	.highlight {
		background-color: var(--secondary-color);
		color: var(--primary-color);
		&:hover {
			background-color: var(--secondary-color);
			color: var(--primary-color);
		}
	}
	.name {
		width: 250%;
		justify-content: flex-start;
	}
	.small-btn {
		height: 30px;
		font-size: 16px;
	}
	.left-top {
		border-radius: 15px 5px 5px 5px;
		text-align: left;
		padding: 0;
	}

	.right-top {
		border-radius: 5px 15px 5px 5px;
	}

	.left-bottom {
		border-radius: 5px 5px 5px 15px;
	}

	.right-bottom {
		border-radius: 5px 5px 15px 5px;
	}
}
