.NumInput {
	width: 100%;
	max-width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	height: 50px;
	color: var(--font-color);
	overflow: hidden;
	font-weight: bold;
	.cursor {
		width: 3px;
		margin-left: 2px;
		margin-right: -5px;
		height: 30px;
		background-color: var(--font-color);
		animation: blink 1s infinite;
	}
}

.small-font {
	font-size: 24px;
}

@media (max-width: 700px) {
	.NumInput {
		font-size: 18px;
		.cursor {
			height: 20px;
		}
	}
	.small-font {
		font-size: 14px;
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
