.quick-guide {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.heading {
		font-weight: bold;
		width: 85vw;
		max-width: 400px;
		border: none;
	}
	ul {
		padding: 0;
		margin: 0;
		max-width: 90%;
		margin-left: 20px;
		li {
			font-size: 20px;
			text-align: left;
			margin-left: 20px;
		}
	}
}
