.cookie-message {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--primary-color);
	color: var(--bg-color);
	padding-top: 10px;
	padding-bottom: 20px;
	box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.4);
	z-index: 1000000;
}
