:root {
    font-family: var(--font-family);
    font-weight: 400;

    color: var(--font-color);
    background-color: var(--bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    background-color: transparent;
    border: none;
    text-align: center;
    font-family: var(--font-family);
    font-weight: bold;
    &:focus {
        outline: none;
    }
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    letter-spacing: -3px;
    font-size: 3rem;
}

h2 {
    letter-spacing: -2px;
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.btn {
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: var(--font-color);
    border: 3px solid var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
    border-radius: 5px;
    background-color: var(--bg-color);
    font-family: var(--font-family);
    transition: all 0.3s;
    &:hover {
        scale: 1.1;
    }
}

/* .btn {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-size: 20px;
    padding: 10px 20px;
    padding-top: 17px;
    font-weight: bold;
    border: 3px solid var(--font-color);
    border-radius: 1px;
    box-shadow: 7px 7px 0px 1px var(--font-color);
    font-family: var(--font-family);
    cursor: pointer;
    transition: all 0.3s;
    margin: 10px;
} */

.selected {
    background-color: var(--primary-color);
    color: var(--font-color);
    color: var(--bg-color);
}

.ver {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.print-show {
    display: none;
}
.wide {
    min-width: 300px;
}

.mt {
    margin-top: 20px;
}

.mb {
    margin-bottom: 20px;
}

.mr {
    margin-right: 20px;
}

.ml {
    margin-left: 20px;
}

.msg {
    margin: 25px 25px;
    font-weight: bold;
    color: var(--font-color);
    background-color: var(--bg-color);
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 3px solid var(--primary-color);
    box-shadow: 0 0 10px 0 var(--primary-color);
    max-width: 400px;
}

.imp {
    color: var(--primary-color);
}
