:root {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;

    color: var(--font-color);
    background-color: var(--bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input {
    background-color: transparent;
    border: none;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    &:focus {
        outline: none;
    }
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    letter-spacing: -3px;
    font-size: 3rem;
}

h2 {
    letter-spacing: -2px;
    font-size: 2.5rem;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.btn {
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: var(--font-color);
    border: 3px solid var(--primary-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
    border-radius: 5px;
    background-color: var(--bg-color);
}

.selected {
    background-color: var(--primary-color);
    color: var(--font-color);
    color: var(--bg-color);
}

.ver {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.print-show {
    display: none;
}
.wide {
    min-width: 300px;
}
